.bg-primary,
.btn-primary {
  background-color: #209747 !important;
}
.text-primary {
  color: rgb(46, 146, 63) !important;
}
.card {
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 0.2rem 1rem rgba(46, 146, 71, 0.549) !important;
}
main {
  min-height: 80vh !important;
}
.brand-logo {
  filter: invert(1);
}

.strokeme {
  text-shadow: 2px 0 0 #111, 0 2px 0 #111, -2px 0 0 #111, 0 -2px 0 #111 !important;
}
